@page "/"
@using Microsoft.AspNetCore.Components.Web



<h2>Welcome to the Dating App!</h2>

<p>

    <br />
    <NavLink class="btn btn-primary" href="/create-account">Create an Account</NavLink>
</p>
