@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>DatingApp</PageTitle>


<div class="page">
    <div class="sidebar">
        
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (IsLoggedIn)
            {
               <a href="/logout">Logout</a> 
            }
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <!-- Your default content goes here -->
            @Body
        </article>

        <!-- Centered Login and Signup components -->
        <div class="centered-components">
            @*<Login />
            <Signup />*@
        </div>
    </main>
</div>

@code {



}
<style>
    /* Add your existing styles here */

    .centered-components {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

@code {

    public bool IsLoggedIn { get; set; }
}      