<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DatingApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
      
       @if (IsLoggedIn)
{
    <li class="nav-item">
        <NavLink class="nav-link" href="/delete-account">
            <span class="oi oi-trash" aria-hidden="true"></span> Delete Account
        </NavLink>
    </li>
    
    <div class="nav-item">
        <NavLink class="nav-link" href="/logout">
            <span class="oi oi-power-standby" aria-hidden="true"></span> Logout
        </NavLink>
    </div>
}
    

    </nav>
</div>

@code {
    private bool IsLoggedIn { get; set; } = false; // Default to not logged in
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // This method will be called when the user logs in
    private void OnLoggedIn()
    {
        IsLoggedIn = true;
    }

    // This method will be called when the user logs out
    private void OnLoggedOut()
    {
        IsLoggedIn = false;
    }
}

